<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>Hello Vue</h1>
    <label for="name">Please enter your name: </label>
    <input v-model="name" id="name">
    <p v-if="name">
        Your name is {{name}}
    </p>
    <p v-else>Enter your name above please</p>
</div>

<script>
    let app = new Vue({
        el: '#app',
        data: {
            name: ""
        },
        methods:{
            addExclamation: function(event){
                this.message += '!'
            }
        },
        filters:{
            uppercase: function(string){
                return string.toUpperCase()
            }
        }
    })
</script>

</body>
</html>